* {
    color:white;
    background-color: #222222;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

div img {
    width: 400px;;
    height: 300px;;
    border: 2px solid #101d39;
    border-radius: 13px;
    box-shadow: 4px 7px 0px #d6e10a;
    cursor: pointer;
    margin: 20px;
    transition: 400ms;
}

div img:hover {
    transform: scale(1.1);
}