.image-container {
    position: relative; /* Permet de positionner le texte par rapport à l'image */
    width: 400px; /* Largeur de l'image */
    height: 300px; /* Hauteur de l'image */
    margin: 20px;
}

.image-container img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    border: 2px solid #101d39;
    border-radius: 5px;
    box-shadow: 4px 7px 0px #d6e10a;
    cursor: pointer;
    transition: 400ms;
    background-color: #101d39;   
}

.image-text {
    position: absolute; /* Positionnement absolu pour le texte */
    bottom: 0; /* Positionne le texte en bas */
    left: 0; /* Aligne le texte à gauche */
    right: 0; /* Évite que le texte dépasse à droite */
    color: white; /* Couleur du texte */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le texte */
    padding: 5px; /* Espacement autour du texte */
    text-align: center; /* Centre le texte */
    border-radius: 0 0 5px 5px; /* Coins arrondis uniquement en bas */
}

